version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "09:00"
    commit-message:
      prefix: "[Dependencies]"
    groups:
      dependencies-prod:
        dependency-type: "production"
      dependencies-dev:
        dependency-type: "development"
    labels:
      - dependencies
    versioning-strategy: increase
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "09:00"
      timezone: "Europe/Amsterdam"
    commit-message:
      prefix: "[Github Actions]"
    groups:
      actions-deps:
        patterns:
          - "*"
    labels:
      - configuration
