# Loads default set of integrations. Do not remove.
default_config:

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

lovelace:
  mode: yaml
  dashboards:
    lovelace-header:
      mode: yaml
      title: Kiosk-mode hide header
      filename: ui-lovelace-header.yaml
    lovelace-account:
      mode: yaml
      title: Kiosk-mode hide account
      filename: ui-lovelace-account.yaml
    lovelace-notifications:
      mode: yaml
      title: Kiosk-mode hide notifications
      filename: ui-lovelace-notifications.yaml
    lovelace-menu-button:
      mode: yaml
      title: Kiosk-mode hide menu button
      filename: ui-lovelace-menu-button.yaml
    lovelace-sidebar:
      mode: yaml
      title: Kiosk-mode hide sidebar
      filename: ui-lovelace-sidebar.yaml
    lovelace-search:
      mode: yaml
      title: Kiosk-mode hide search
      filename: ui-lovelace-search.yaml
    lovelace-assistant:
      mode: yaml
      title: Kiosk-mode hide assistant
      filename: ui-lovelace-assistant.yaml
    lovelace-refresh:
      mode: yaml
      title: Kiosk-mode hide refresh
      filename: ui-lovelace-refresh.yaml
    lovelace-unused-entities:
      mode: yaml
      title: Kiosk-mode hide unused entities
      filename: ui-lovelace-unused-entities.yaml
    lovelace-reload-resources:
      mode: yaml
      title: Kiosk-mode hide reload resources
      filename: ui-lovelace-reload-resources.yaml
    lovelace-edit-dashboard:
      mode: yaml
      title: Kiosk-mode hide edit dashboard
      filename: ui-lovelace-edit-dashboard.yaml
    lovelace-overflow:
      mode: yaml
      title: Kiosk-mode hide overflow
      filename: ui-lovelace-overflow.yaml
    lovelace-block-overflow:
      mode: yaml
      title: Kiosk-mode block overflow
      filename: ui-lovelace-overflow-mouse.yaml
    lovelace-mouse:
      mode: yaml
      title: Kiosk-mode block mouse
      filename: ui-lovelace-mouse.yaml
    lovelace-context-menu:
      mode: yaml
      title: Kiosk-mode block context menu
      filename: ui-lovelace-context-menu.yaml

# Input booleans
input_boolean: !include_dir_merge_named inputs/booleans/

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url: /local/kiosk-mode.js

timer:
  laundry:
    duration: "00:01:00"